streamlit==1.29.0
langchain==0.1.0
langchain-groq==0.0.1
deepgram-sdk==3.2.6
python-dotenv==1.0.0
pyaudio==0.2.11
gtts==2.4.0
audio-recorder-streamlit==0.1.4
streamlit-float==0.2.0
pydub==0.25.1
